<div class="mb-6 w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h2 class="text-2xl font-bold mb-4">Terms and Conditions</h2>
    <p class="text-lg font-semibold mb-4">
      Signed who got the above-mentioned CPD for my vehicle whose particulars are on the application submitted and signed by me, hereby declare and attest the following:
    </p>
  
    <ul class="list-disc list-inside space-y-2 text-gray-700">
      <li>To be aware of the customs regulations of every country I visit.</li>
      <li>To clear the CPD by re-exporting my vehicle from the country or countries that I visited by this CPD before the expiry period given to my vehicle in those countries.</li>
      <li>Not to let anybody use my vehicle except myself, and the drivers mentioned in the carnet not to rent it, or lend it, not give it away, nor sell it nor change its ownership during my trip.</li>
      <li>Not to change the color or the look of my vehicle during the trip, but repair it if needed.</li>
      <li>In case of loss or being stolen, I undertake to inform the association right away, and undertake all responsibility of the CPD being used by another person.</li>
      <li>In case of theft of my vehicle in any of the countries, I undertake to inform the authorities within 48 hours in that country, and pay the custom duties on my stolen vehicle within 8 days from the date of informing the authorities.</li>
      <li>In case of change of my address, I undertake to inform the association right away.</li>
      <li>To clear the CPD before I leave any country to go to another one.</li>
      <li>Undertake to do whatever the association asks to clear the CPD given to my vehicle.</li>
      <li>Undertake to pay all custom duties, expenses, interest, and penalties which will be called on the association to pay in case I did not clear the CPD they issued to my vehicle.</li>
      <li>Undertake to return the CPD to the association in case they ask for it before its expiry date.</li>
      <li>Undertake not to change anything on the CPD, or let anybody do that.</li>
      <li>I acknowledge that I have read all the data and requirements in the customs CPD. And that the Oman Automobile Association does not bear any liability for wrong and incorrect data provided by me.</li>
      <li>Undertake to pay all custom duties, penalties, interest, and expenses which will be requested from the association in case of vehicle being stolen, damaged, or not in running condition.</li>
      <li>I also agree that the Oman Automobile Association has the right to obtain any amounts from the bank guarantee account owned on the cars benefiting from the customs CPD such as tax or customs amounts and other amounts as a result of my failure to comply with the procedures and instructions included in the book.</li>
    </ul>
  
    <div class="flex items-center mt-6">
      <mat-checkbox color="primary">
        I have read and accept all the above terms and conditions.
      </mat-checkbox>
    </div>
  </div>
  