
<div class="mb-6 w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h1 class="!text-[#363636] !mb-[5px] !font-[500] !text-[17px]">Requirements needed</h1>
    <div class="mb-4">
        <h3 class="!text-[#363636] !mb-[5px] !font-[500] !text-[15px]">Requirements for obtaining Carnet de Passage</h3>
        <ol class="mt-2 space-y-1 list-decimal list-inside text-[#485351]">
            <li>Complete the attached forms.</li>
            <li>Bank guarantee valid for one year.</li>
            <li>Photocopy of car registration.</li>
            <li>Copy of ID Card for Omanis, Passport Copy/ Resident Card for Non Omanis.</li>
            <li>NOC from ROP Traffic in case of export the vehicle by shipment.</li>
            <li>NOC from ROP Traffic in case the vehicle registration is not on your name.</li>
            <li>One Photograph.</li>
        </ol>
    </div>
    <div class="mb-4">
        <h3 class="!text-[#363636] !mb-[5px] !font-[500] !text-[15px]">In case of Permanent Exportation</h3>
        <ol class="mt-2 space-y-1 list-decimal list-inside text-[#485351]">
            <li>Carnet de Passage duly discharged.</li>
            <li>Certificate of location from the customs department duly endorsed by the Oman Embassy of the country the vehicle has been re-registered.</li>
            <li>Hand over both the car registration plates.</li>
            <li>Hand over the original registration card.</li>
            <li>Copy of the new vehicle registration card.</li>
        </ol>
    </div>
    <h3 class="!text-[#363636] !mb-[5px] !font-[500] !text-[15px]">Note</h3>
    <p class="text-[#485351] text-[13px]">
        In case the vehicle registration card expires before you have surrendered all the above documents, the ROP imposes a fine plus renewal fees.<br>
        So please make sure that you send all your documents before the expiry date.
    </p>
    <p class="text-[#485351] text-[13px] mb-0">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
    </p>
</div>

