<div class="mb-4">
  <div
    class="mb-6 w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700 overflow-y-scroll max-h-[100vh]">
    <div class="!pl-0">
      <mat-radio-group color="primary" class="custom-radio !ml-0">
        <mat-radio-button value="1">New License</mat-radio-button>
        <mat-radio-button value="2">Re-New License</mat-radio-button>
      </mat-radio-group>
    </div>

    <h1 class="!text-[#363636] !mb-[5px] !font-[500] !text-[17px]">Basic Info</h1>
    <div class="contant-section">
      <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-4">
        <mat-form-field appearance="outline" class="mat-form-field">
          <mat-label>First Name</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Last Name</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>First Name / Other Name(s)</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nationality</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Date of Birth</mat-label>
          <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker" readonly="true" />
          <mat-datepicker-toggle matIconSuffix [for]="picker" />
          <mat-datepicker #picker />
        </mat-form-field>
      </div>

      <h1 class="!text-[#363636] !mb-[5px] !font-[500] !text-[17px]">Contact Info</h1>
      <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-4">
        <mat-form-field appearance="outline" class="form-field w-full">
          <mat-label>Address</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Postal Code</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>P.O Box (Not Mandatory)</mat-label>
          <input matInput />
        </mat-form-field>


        <mat-form-field appearance="outline" class="form-field">
          <mat-label>E-Mail</mat-label>
          <input matInput type="email" />
        </mat-form-field>


        <mat-form-field appearance="outline" class="form-field">
          <mat-label>GSM</mat-label>
          <input matInput />
        </mat-form-field>

      </div>

      <h1 class="!text-[#363636] !mb-[5px] !font-[500] !text-[17px]">Oman License Info</h1>
      <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-4">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Omani Driving License No.</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>First Issue Date</mat-label>
          <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker1" readonly="true" />
          <mat-datepicker-toggle matIconSuffix [for]="picker1" />
          <mat-datepicker #picker1 />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Expiry Date</mat-label>
          <input matInput placeholder="MM/DD/YYYY" [matDatepicker]="picker2" readonly="true" />
          <mat-datepicker-toggle matIconSuffix [for]="picker2" />
          <mat-datepicker #picker2 />
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Licenses Eligibility</mat-label>
          <input matInput type="text" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Type of License</mat-label>
          <mat-select>
            <mat-option value="1">Motor Cycle</mat-option>
            <mat-option value="2">Motor Cycle</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid md:grid-cols-1 sm:grid-cols-1 gap-4 mb-4">

        <mat-form-field appearance="outline" class="example-chip-list col-span-3 form-field">
          <mat-label>Countries to be visit</mat-label>
          <mat-chip-grid #chipGrid aria-label="Fruit selection">
            <mat-chip-row *ngFor="let fruit of fruits(); let i = index; trackBy: trackByIndex"
              (removed)="remove(fruit)">
              {{ fruit }}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input name="currentFruit" placeholder="New Fruit..." #fruitInput [(ngModel)]="currentFruit"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)" />

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event); fruitInput.value = ''">
            <mat-option *ngFor="let fruit of filteredFruits()" [value]="fruit">
              {{ fruit }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="upload-file my-5 col-span-3">
        <p class="text-red-500 text-sm flex justify-end items-center">NOT VALID IN JAPAN
          <mat-icon class="ml-3">info_i</mat-icon>
        </p>
        <div class="border-dashed border-2 border-gray-300 rounded-lg p-4">
          <div class="text-center mb-4">
            <mat-icon>cloud_upload</mat-icon>
            <p class="text-sm text-gray-500">File Size should be between 2MB to 10MB</p>
            <button mat-button color="primary" (click)="fileInput.click()">Browse File</button>
            <input #fileInput type="file" multiple (change)="onFilesSelected($event)" class="hidden" />
          </div>
        </div>
        <div *ngFor="let file of uploadedFiles; let i = index"
          class="flex items-center justify-between border-dashed border-2 border-gray-200 p-2 rounded-md my-2">
          <div class="flex items-center gap-2">
            <img src="/assets/icons/pdf.png" class="w-8 h-8" alt="PDF" />
            <div>
              <p class="font-medium text-sm !mb-0">{{ file.name }}</p>
              <p class="text-xs text-gray-500 !mb-0">File Size should be between 2MB to 10MB</p>
            </div>
          </div>
          <button mat-icon-button (click)="removeFile(i)">
            <mat-icon class="text-[#0000008a]">cancel</mat-icon>
          </button>
        </div>
      </div>

      <h1 class="!text-[#363636] !mb-[5px] !font-[500] !text-[17px]">Photo</h1>
      <div class="grid grid-cols-1 gap-4 mb-4">
        <div class="flex items-center">
          <div class="m-2">
            <img src="/assets/img/placeholder-image.png" alt="PDF"
              class="w-[150px] h-[180px] object-cover rounded-md border border-gray-200 min-w-[100px]" />
          </div>

          <div class="">
            <p class="font-medium text-sm">
              Photo Should be up to 2MB and 200x300 resolution
            </p>
            <div>
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Upload a Photo</mat-label>
                <input matInput [value]="getPhotoNames()" readonly (click)="fileInput2.click()" />
                <button matSuffix mat-icon-button (click)="fileInput2.click()" aria-label="Upload">
                  <mat-icon class="text-[#0000008a]">attach_file</mat-icon>
                </button>
              </mat-form-field>
              <input #fileInput2 type="file" hidden (change)="uploadPhoto($event)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>