:host {
    display: block;
    font-family: 'Inter', sans-serif;
  
    mat-icon {
      color: #4B5563;
    }
  
    table {
      border-collapse: collapse;
      width: 100%;
  
      th, td {
        border-bottom: 1px solid #E5E7EB;
      }
    }
  
    button[mat-raised-button] {
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
      font-weight: 600;
    }
  }