<div class="mb-4">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> 
                    <span>
                        <img class="w-[28px]" src="../../../assets/img/accordion3.png" alt="">
                    </span>
                    <span class="mx-4">
                        Owner’s address in Sultanate of Oman
                    </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
          <div class="contant-section">
            <form class="grid grid-cols-1 md:grid-cols-3 gap-4 ">
                <!-- Row 1 -->
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Full Name" />
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Office Work</mat-label>
                  <input matInput placeholder="Company Name" />
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Residence</mat-label>
                  <input matInput placeholder="Country" />
                </mat-form-field>
              
                <!-- Row 2 -->
                <mat-form-field appearance="outline">
                  <mat-label>P.O Box Number</mat-label>
                  <input matInput />
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Postal Code</mat-label>
                  <input matInput />
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Tel. No Business</mat-label>
                  <input matInput placeholder="+xx xx xxx xxxx" />
                </mat-form-field>
              
                <!-- Row 3 -->
                <mat-form-field appearance="outline">
                  <mat-label>Residence</mat-label>
                  <input matInput placeholder="City" />
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>GSM</mat-label>
                  <input matInput placeholder="Mobile" />
                </mat-form-field>
              
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" />
                </mat-form-field>
              </form>              
              
          </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
