<div class="mb-4">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> 
                    <span>
                        <img class="w-[28px]" src="../../../assets/img/accordion1.png" alt="">
                    </span>
                    <span class="mx-4">
                        Basic Information
                    </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
          <div class="contant-section">
                <div class="grid grid-cols-3 gap-4 mb-4">
                    <mat-form-field appearance="outline" class="mat-form-field">
                        <mat-label>Name Of Vehicle Owner</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Driver’s Name</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Nationality</mat-label>
                        <input matInput />
                      </mat-form-field>
    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>ID/Passport Number</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Countries To Be Visited</mat-label>
                        <input matInput />
                      </mat-form-field>
                </div>
    
                <div class="grid gap-4 mb-4">
                    <mat-form-field appearance="outline" class="form-field w-full">
                        <mat-label>Address : Business</mat-label>
                        <input matInput />
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="form-field w-full">
                        <mat-label>Address : Residence</mat-label>
                        <input matInput />
                      </mat-form-field>
                </div>
                <div class="grid gap-4 grid-cols-3">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>P.O Box Number</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Postal Code</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Tel Number : Business</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Tel Number : Residence</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>GSM</mat-label>
                        <input matInput />
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="form-field">
                        <mat-label>E-Mail Address</mat-label>
                        <input matInput type="email" />
                      </mat-form-field>
          
                </div>
          </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
