
.mat-expansion-panel.mat-expanded .mat-expansion-panel-header img{
    filter:none !important;
}
.mat-expansion-panel .mat-expansion-panel-header img{
    filter: grayscale(100%) !important;
}
.mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    font-weight: 400;
}
::ng-deep .mat-expansion-indicator::after {
    border-color: #000 !important;
}
::ng-deep .mdc-notched-outline__notch{
    border: none;
}


  