<app-navbar></app-navbar>
<div class="flex justify-between items-center mx-4 md:mx-14">
  <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
  <div>
    <button class="button-outline">
      <mat-icon>cancel</mat-icon>
      <span class="button-text">Cancel</span>
      </button>
  </div>
</div>
<div class="rounded p-4 border border-gray-400 shadow mt-8 mb-4 mx-4 md:mx-[20%]">
  <div *ngIf="isFirstDivVisible" class="flex gap-4 items-center">
    <button (click)="toggleDivs()" class="hidden md:block">
      <div class="rounded-md p-2 flex flex-col items-center justify-center bg-[#F2F6FA] w-fit">
        <img src="../../../assets/img/icon-1.gif" alt="Review Icon" class="h-20">
        <span class="status-badge in-review w-fit">
          In Review
        </span>
      </div>
    </button>
    <div class="flex flex-col gap-4">
      <span class="font-semibold text-[#3FA5FF] text-[24px]">TRC-N-0024</span>
      <div class="grid gap-1">
        <span class="text-[#363636] text-[18px]">Wait, we are reviewing your documents. Stay tuned with us...</span>
        <span class="text-[#363636] text-[14px]">If all your documents are in order, you can proceed with the payment
          process</span>
      </div>
    </div>
  </div>
  <div *ngIf="!isFirstDivVisible" class="flex justify-between items-center">
    <div class="flex items-center gap-4 ">
      <button (click)="toggleDivs()" class="hidden md:block">
        <div class="rounded-md p-2 flex flex-col items-center justify-center bg-[#F2F6FA] w-fit">
          <img src="../../../assets/img/icon-1.gif" alt="Review Icon" class="h-20">
          <span class="status-badge approved w-fit">
            Approved
          </span>
        </div>
      </button>
      <div class="flex flex-col gap-4">
        <span class="font-semibold text-[#3FA5FF] text-[24px]">TRC-N-0024</span>
        <div class="grid gap-1">
          <span class="text-[#363636] text-[18px]">Your All Documents are good...!</span>
          <span class="text-[#363636] text-[14px]">You can do the payment now</span>
        </div>
      </div>
    </div>
    <div class="flex gap-6 items-center bg-[#F2F6FA] py-2 px-4 rounded-3xl">
      <div class="flex items-center gap-2">
        <img src="/assets/icons/pdf.png" alt="icon" class="w-8 h-8">
        <div class="grid">
          <span class="text-[#363636] text-[14px]">Bank Guarantee Form </span>
          <span class="text-[#363636] text-[12px]">1.3 MB</span>
        </div>
      </div>
      <button class="flex justify-center items-center">
        <mat-icon class="text-[#5D5D5D]">download</mat-icon>
      </button>
    </div>
  </div>
  <!-- Document Items -->
  <div class="space-y-3 mt-8">
    <div class="flex items-center justify-between bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/basic-info.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">Basic Information</span>
      </div>
      <div class="flex items-center space-x-2">
        <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
        <span class="status-badge approved">
          Approved
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/driver-details.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">Driver Details</span>
      </div>
      <div class="flex items-center space-x-2">
        <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
        <span class="status-badge approved">
          Approved
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/insurance.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">Particular of Vehicle</span>
      </div>
      <div class="flex items-center space-x-2">
        <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
        <span class="status-badge approved">
          Approved
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/location.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">Owner’s address in Sultanate of Oman</span>
      </div>
      <div class="flex items-center space-x-2">
        <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
        <span class="status-badge approved">
          Approved
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/home.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">Owner’s address in His Home Country</span>
      </div>
      <div class="flex items-center space-x-2">
        <button class="submit-again">
          <mat-icon>refresh</mat-icon> <span class="button-text">Submit Again</span></button>
        <span class="status-badge rejected">
          Rejected
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/reference.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">References In Sultanate of Oman</span>
      </div>
      <div class="flex items-center space-x-2">
        <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
        <span class="status-badge pending-review">
          Pending Review
        </span>
      </div>
    </div>
    <div class="flex items-center justify-between bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/reference.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">References In your home country</span>
      </div>
      <div class="flex items-center space-x-2">
        <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
        <span class="status-badge pending-review">
          Pending Review
        </span>
      </div>
    </div>
    <div class="gird bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/attachment.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">Attachments</span>
      </div>

      <div class="space-y-2 mt-4">
        <div class="flex items-center justify-between bg-white p-3 rounded-md shadow-sm">
          <div class="flex items-center space-x-3">
            <img src="/assets/icons/pdf.png" alt="icon" class="w-8 h-8">
            <div class="grid">
              <span class="text-[14px] text-[#1E293B] font-semibold">Vehicle Registration</span>
              <span class="text-[14px] text-[#64748B]">File Size should be between 2MB to 10MB</span>
            </div>
          </div>
          <div class="flex items-center space-x-2">
            <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
            <span class="status-badge approved">
              Approved
            </span>
          </div>
        </div>
        <div class="flex items-center justify-between bg-white p-3 rounded-md shadow-sm">
          <div class="flex items-center space-x-3">
            <img src="/assets/icons/pdf.png" alt="icon" class="w-8 h-8">
            <div class="grid">
              <span class="text-[14px] text-[#1E293B] font-semibold">Bank Document</span>
              <span class="text-[14px] text-[#64748B]">File Size should be between 2MB to 10MB</span>
            </div>
          </div>
          <div class="flex items-center space-x-2">
            <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
            <span class="status-badge in-review">
              In Review
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="gird bg-gray-50 p-3 rounded-md shadow-sm">
      <div class="flex items-center space-x-3">
        <img src="/assets/icons/review.png" alt="icon" class="w-8 h-8">
        <span class="text-gray-800">Review</span>
      </div>

      <div class="space-y-2 mt-4">
        <div class="flex items-center justify-between bg-white p-3 rounded-md shadow-sm">
          <div class="flex items-center space-x-3">
            <img src="/assets/icons/profile-img.png" alt="icon" class="rounded-full w-10 h-10">
            <div class="grid">
              <span class="text-[14px] text-[#1E293B] font-semibold">Abdulla Al Rahuman</span>
              <span class="text-[14px] text-[#64748B]">Senior Director</span>
            </div>

          </div>
          <div class="flex items-center space-x-2">
            <!-- <button mat-stroked-button color="primary" class="text-xs">Submit Again</button> -->
            <span class="status-badge approved">
              1st Approval
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>