<div class="mb-4">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> 
                    <span>
                        <img class="w-[28px]" src="../../../assets/img/accordion6.png" alt="">
                    </span>
                    <span class="mx-4">
                        Attachments
                    </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
          <div class="contant-section">
            <div class="border-dashed border-2 border-gray-300 rounded-lg p-4">
                <div class="text-center mb-4">
                  <mat-icon>cloud_upload</mat-icon>
                  <p class="text-sm text-gray-500">File Size should be between 2MB to 10MB</p>
                  <button mat-button color="primary" (click)="fileInput.click()">Browse File</button>
                  <input #fileInput type="file" multiple (change)="onFilesSelected($event)" class="hidden" />
                </div>
              
                <div *ngFor="let file of uploadedFiles; let i = index" class="flex items-center justify-between border border-dashed border-gray-200 p-2 rounded-md my-2">
                  <div class="flex items-center gap-2">
                    <img src="assets/pdf-icon.png" class="w-6 h-6" alt="PDF" />
                    <div>
                      <p class="font-semibold text-sm">{{ file.name }}</p>
                      <p class="text-xs text-gray-500">File Size should be between 2MB to 10MB</p>
                    </div>
                  </div>
                  <button mat-icon-button (click)="removeFile(i)">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </div>            
          </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>


  