<div class="mb-4">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> 
                    <span>
                        <img class="w-[28px]" src="../../../assets/img/accordion4.png" alt="">
                    </span>
                    <span class="mx-4">
                      Owner’s address in His Home Country
                    </span>
                </mat-panel-title>
              </mat-expansion-panel-header>
          <div class="contant-section">
            <form class="grid grid-cols-1 md:grid-cols-3 gap-4 ">
                <mat-form-field appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Full Name" />
                </mat-form-field>
              </form>              
          </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
