<section class="hero">
    <div class="hero-content w-[75%]">
        <p class="welcome-text">Welcome to</p>
        <h1><strong>OMAN</strong> Automobile <br> Association</h1>
        <p class="welcome-desc">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and 
            scrambled it to make a type specimen book,
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
    </div>
    <div class="cards">
        <div class="card">
            <h3>International Driving <br> License</h3>
            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
            <p class="applied">
                You already Applied to this Service. <span><strong>Track Update</strong></span> 
            </p>
        </div>
        <div class="card">
            <h3>Vehicle Travel Permit<br> (VTP)</h3>
            <p>Lorem ipsum is simply dummy text of the printing and typesetting industry.</p>
            <button>Apply Now</button>
        </div>
    </div>
</section>