<div class="p-8">
    <div class="flex justify-center items-center gap-2 mt-4">
        <img src="/assets/img/oaa-logo.png" class="" alt="oaa-logo" />
        <img src="/assets/img/fia-logo.png" class="" alt="oaa-logo" />
    </div>
    <div class="flex justify-center items-center mt-4">
        <span class="text-[32px] text-[#202020]"><span class="text-[32px] text-[#E0272A]"> Create</span>an Account</span>
    </div>
    <div class="flex justify-center items-center mt-4">
        <span class="text-[#64748B] text-[14px]">Enter below details to create a new account</span>
    </div>
    <div class="flex flex-col justify-center items-center mt-8 gap-8 max-h-[19rem] overflow-y-scroll">
        <mat-form-field appearance="outline" class="mat-form-field w-full">
            <mat-label>Name</mat-label>
            <input matInput value="Abdulla al Rahuman" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form-field w-full">
            <mat-label>Email</mat-label>
            <input matInput value="abd@email.com" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form-field w-full">
            <mat-label>Phone</mat-label>
            <input matInput value="+123456789" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form-field w-full">
            <mat-label>Username</mat-label>
            <input matInput value="AbdullaR" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form-field w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" value="Abdulla" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="mat-form-field w-full">
            <mat-label>Re-type Password</mat-label>
            <input matInput type="password" value="Abdulla" />
        </mat-form-field>
    </div>
    <div class="flex justify-start mt-4">
        <span class="text-[#64748B] text-[14px]">Have an account? <button type='button'  class="font-bold">Sign In</button></span>
    </div>
    <div class="flex items-center justify-center mt-10">
        <button class="button-fill justify-center w-[50%] h-10">Create</button>
    </div>
</div>