
<div class="mb-6 w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <h1 class="!text-[#363636] !mb-[5px] !font-[500] !text-[17px]">International Driving License</h1>
    <div class="mb-4">
        <h3 class="!text-[#363636] !mb-[5px] !font-[500] !text-[15px]">WHAT IS THE INTERNATIONAL DRIVING LICENSE?</h3>
        <ol class="mt-2 space-y-1 list-disc list-inside text-[#485351]">
            <li>The International Driving License (IDL) or Permit (IDP) enables travelers and tourists to drive in many countries in a legal and safe way, without the trouble of being questioned by authorities or incurring fines. </li>
            <li>The IDL is a United Nations convention, and a legal requirement.</li>
            <li>It is an internationally recognized translation of your driving license allowing motorists to drive outside of Oman legally, without the need for further tests and applications.</li>
            <li>Omani nationals and residents who wish to drive abroad, need to apply for an IDP via the Oman Automobile Association.</li>
            <li>You must always have your IDL along with your national license at all times</li>
        </ol>
    </div>
    <div class="mb-4">
        <h3 class="!text-[#363636] !mb-[5px] !font-[500] !text-[15px]">Document Required</h3>
        <ol class="mt-2 space-y-1 list-disc list-inside text-[#485351]">
            <li>IDL Form</li>
            <li>Valid Residency & Omani ID</li>
            <li>Copy of Valid Omani License</li>
            <li>1Photos</li>
        </ol>
    </div>
    <h3 class="!text-[#363636] !mb-[5px] !font-[500] !text-[15px]">Note</h3>
    <p class="text-[#485351] text-[13px]">Convention on Road Traffic <br> Vienna, 8 November 1968 </p>
    <p class="text-[#485351] text-[13px]">
        link :<a class="text-sky-500"> https://treaties.un.org/pages/ViewDetailsIII.aspx?src=TREATY&mtdsg_no=XI-B-19&chapter=11#EndDec</a>
        <br>
        This permit is not valid for the territory of Sultanate of Oman. It is valid for the territories of all other contracting parties. On condition that it is presented with the corresponding domestic driving permit.
    </p>
    <p class="text-[#485351] text-[13px] mb-0">
        The categories of vehicle for which the permit is valid are stated at the end of the booklet. This permit shall cease to be valid in the territory of another contracting party if its holder establishes his normal residence there.
    </p>
</div>

